.select-player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.select-player > div {
    display: flex;
    gap: 10px;
}

.player-tag {
    background: #F9F300;
    padding: 5px 10px;
}

.boats-to-position {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    padding: 10px;
    overflow: auto;
}

.nav-tile, .nav-ref {
    flex: 1 0 calc(20% - 10px); /* Each button takes up 20% of the row minus the gap */
    text-align: center; /* Center text inside the button */
    border: 1px solid #ccc; /* Add a border for visibility */
    display: inline-flex; /* Use flexbox to center content */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    padding: 0; /* Remove extra padding */
    margin: 5px; /* Space between buttons */
    font-size: 16px; /* Text size */
    box-sizing: border-box;
    cursor: pointer;
}

.nav-ref {
    background: #fff;
}

.nav-tile span {
    color: #FFF;
}

.nav-ref span {
    color: #000;
}

.position-round {
    display: flex;
}

section.position-map {
    width: 65%;
    position: relative;
}

.map-sticky {
    position: sticky;
    top: 20px;
}