.fut-game {
    display: flex;
}

.fut-tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.fut-turn {
    width: 50%;
    display: flex;
    justify-content: center;
}

.fut-tile {
    flex: 1 0 calc(20% - 10px); /* Each button takes up 20% of the row minus the gap */
    text-align: center; /* Center text inside the button */
    border: 1px solid #ccc; /* Add a border for visibility */
    display: inline-flex; /* Use flexbox to center content */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    padding: 0; /* Remove extra padding */
    margin: 5px; /* Space between buttons */
    font-size: 16px; /* Text size */
    box-sizing: border-box;
}

.goal-tile {
    background-color: #fff;
}

.out-of-field-tile {
    background-color: #000;
    border-color: #000;
}

.play-tile {
    background-color: #67ef72;
}