.fut-game {
    display: flex;
}

.fut-tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    height: fit-content;
}

.fut-turn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.fut-tile {
    flex: 1 0 calc(20% - 10px); /* Each button takes up 20% of the row minus the gap */
    text-align: center; /* Center text inside the button */
    border: 1px solid #ccc; /* Add a border for visibility */
    display: inline-flex; /* Use flexbox to center content */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    padding: 0; /* Remove extra padding */
    margin: 5px; /* Space between buttons */
    font-size: 16px; /* Text size */
    box-sizing: border-box;
    cursor: pointer;
}

.fut-tile:disabled {
    cursor: auto;
    opacity: 0.50;
    color: #000;
}

.goal-tile {
    background-color: #fff;
}

.fut-tile__highlighted {
    border: 5px solid #fff;
}

.out-of-field-tile {
    background-color: #000;
    border-color: #000;
}

.play-tile {
    background-color: #67ef72;
}

.btn-fut-action {
    background-color: #F9F300;
    border: 5px solid #FFFFFF;
    padding: 10px;
    color: #000;
    cursor: pointer;
}

.btn-fut-action__selected {
    background-color: #67ef72;
}

.btn-fut-action:disabled {
    background-color: #f9f30018;
    border-color:#f9f30018;
    color: #FFFFFF;
    cursor: auto;
}

.fut-turn__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ball-lost {
    display: flex;
    flex-direction: column;
}

.img-dribble-lost {
    width: 300px;
    margin: auto;
}

.img-shoot-lost {
    width: 500px;
    margin: auto;
}