.boat-el {
    box-shadow: 10px 10px #F9F300;
    background: #1e1e1e;
    border: 1px solid #5d5b5b;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
}

.boat-el header {
    display: flex;
    justify-content: center;
}

.boat-el footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boat-el img {
    width: 100%;
}

.boat-el__value {
    color: #F9F300;
}

.boat-el__label {
    color: #FFF;
}